/* Form Headers */
#signIn-header,
#registration-header,
.hero-img-wrapper {
  color: #ff8080;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
#form-link {
  text-decoration: none;
  color: black;
}

#form-button {
  margin: 10px;
  background-color: #b6ffce;
}

/* Login and Registration Forms */
#login-form,
#registration-form {
  max-width: 400px;
}

/* Hero Image Wrapper */
.hero-img-wrapper {
  margin: 20px;
  padding: 20px;
}

/* Login and Registration Form Inputs */
.reg-form-input,
.login-form-input {
  color: #b6ffce;
}

/* #### Registration Form input, label #### */
/* label color */
.row .input-field label {
  color: #b6ffce;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff8080;
}
.input-field .prefix {
  color: #ff8080;
}
/* label focus color */
.row .input-field input[type="text"]:focus + label,
.row .input-field input[type="email"]:focus + label,
.row .input-field input[type="password"]:focus + label  {
  color: #b6ffce;
}


/* label underline focus color */
.row .input-field input[type="text"]:focus,
.row .input-field input[type="email"]:focus,
.row .input-field input[type="password"]:focus  {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}


/* Auto Complete from browser */
input:-webkit-autofill {
  -webkit-text-fill-color: #b6ffce;
  background-color: #6c5b7b;
  -webkit-box-shadow: 0 0 0px 1000px #6c5b7b inset;
  transition: #6c5b7b 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover {
  -webkit-text-fill-color: #b6ffce;
  -webkit-box-shadow: 0 0 0px 1000px #6c5b7b inset;
  transition: #6c5b7b 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #b6ffce;
  -webkit-box-shadow: 0 0 0px 1000px #6c5b7b inset;
  transition: #6c5b7b 5000s ease-in-out 0s;
}

/* {{ #### Landing Page #### }} */

#landing-row-wrapper {
  margin-top: 2em;
}

/* Carousel */
a .carousel-item {
  height: 300px;
  width: 650px;
}

#landing-carousel {
  height: 800px;
  perspective: 950px;
  transform: translateY(-100px);
}

.carousel .carousel-item {
  width: 500px;
  display: flex;
  justify-content: center;
}

a img {
  width: 100%;
  height: 300px;
}

.carousel-header {
  color: #b6ffce;
  text-align: center;
}

/* About Section */
.card-about {
  background-color: #6c5b7b;
  color: #ff8080;
  padding: 30px;
}


/* Post Form */
  /* label color */

  .input-field label {
    color: #ff8080;
  }
  .input-field label:focus {
    color: #ff8080;
  }

/* label focus color */
#post-input input[type="text"]:focus + label, 
#post-input input[type="url"]:focus + label,
#post-input textarea[type="text"]:focus + label {
  color: #ff8080;
}

/* label underline focus color */
#post-input input[type="text"]:focus,
#post-input input[type="url"]:focus,
#post-input textarea[type="text"]:focus{
  border-bottom: 1px solid #ff8080;
  box-shadow: 0 .05px 0 0 #ff8080;
}

/* icon prefix focus color */

.file-field .prefix {
  color: #ff8080;
}
.btn-field:hover {
  background-color:#b6ffce
}