#signIn-header,
#registration-header,
.hero-img-wrapper {
  color: #ff8080;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/* #### Registration Form input, label #### */

/* label color */
.row .input-field label {
  color: #b6ffce;
}

/* label focus color */
.row .input-field input[type="text"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="email"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="password"]:focus + label {
  color: #b6ffce;
}
/* Input label while selected */
.row .input-field input[type="password"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="text"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="email"]:focus + label {
  color: #b6ffce;
}
/* label underline focus color */
.row .input-field input[type="text"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}
.row .input-field input[type="email"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}
.row .input-field input[type="password"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}

/* invalid color */
.row .input-field input[type="password"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}
.row .input-field input[type="email"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}
.row .input-field input[type="text"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}

#login-form,
#registration-form {
  max-width: 400px;
}

.hero-img-wrapper {
  margin: 20px;
  padding: 20px;
}

.reg-form-input,
.login-form-input {
  color: #b6ffce;
}
