/* Form Headers */
#signIn-header,
#registration-header,
.hero-img-wrapper {
  color: #ff8080;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/* Login and Registration Forms */
#login-form,
#registration-form {
  max-width: 400px;
}

/* Hero Image Wrapper */
.hero-img-wrapper {
  margin: 20px;
  padding: 20px;
}

/* Login and Registration Form Inputs */
.reg-form-input,
.login-form-input {
  color: #b6ffce;
}

/* #### Registration Form input, label #### */
/* label color */
.row .input-field label {
  color: #b6ffce;
}
/* label focus color */
.row .input-field input[type="text"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="email"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="password"]:focus + label {
  color: #b6ffce;
}
/* Input label while selected */
.row .input-field input[type="password"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="text"]:focus + label {
  color: #b6ffce;
}
.row .input-field input[type="email"]:focus + label {
  color: #b6ffce;
}
/* label underline focus color */
.row .input-field input[type="text"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}
.row .input-field input[type="email"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}
.row .input-field input[type="password"]:focus {
  border-bottom: 1px solid #b6ffce;
  box-shadow: 0 1px 0 0 #b6ffce;
}
/* invalid color */
.row .input-field input[type="password"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}
.row .input-field input[type="email"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}
.row .input-field input[type="text"].invalid {
  border-bottom: 1px solid red(231, 13, 13);
  box-shadow: 0 1px 0 0 red;
}

/* #### Landing Page #### */
a .carousel-item {
  height: 900px;
  width: 650px;
}

.carousel {
  height: 800px;
  perspective: 950px;
  /* transform: translateY(-100px); */
}

.carousel .carousel-item {
  width: 750px;
}

a img {
  width: 100%;
  height: 400px;
}

.carousel-header {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

input:-webkit-autofill:focus {
  /* border: 1px solid #b6ffce; */
  -webkit-text-fill-color: #b6ffce;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #6c5b7b;
}
